[submodule "l/lib/sysexits"]
	path = lib/sysexits
	url = https://github.com/teddywing/cl-sysexits.git
[submodule "lib/wait-group"]
	path = lib/wait-group
	url = https://github.com/teddywing/cl-wait-group.git
